@page "/counter"
@inject SingletonServices single 
@inject TransientServices transint
<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton Value: @single.value</p>
<p>Transient Value: @transint.value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        single.value += 1;
        transint.value += 1;
    }
}
